.navbar {
    background-color: grey;
}

.navFont{
    font-size: 24px;
    font-weight: bold;   
}

.gap {
    height: 20px; /* Adjust the height as needed */
    background-color: transparent; /* To make it blank */
}

/* Style the images */
.rounded-circle {
    width: 100%; /* Set width to 100% to maintain aspect ratio */
    border-radius: 70%; /* Create a round shape */
    margin-top: 50px;
}

/* Add a margin to separate the images and text */
.text-content{
    margin-left: 0%; 
    text-align: center; /* Center the text horizontally */
}






