
/* Style the images */
.rounded-circle {
    width: 100%; /* Set width to 100% to maintain aspect ratio */
    border-radius: 70%; /* Create a round shape */
    margin-top: 50px;
}







